body{
    background-image:linear-gradient(to right,yellow,red);
}
h1,h2,p{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
}
.boton_effect {
    text-decoration:none;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #34DB24;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.espacio{
    padding-bottom:500px;
}