body{
    background-color: mediumblue;
}
h1,h2,p{
    display: block;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 25px;
}
button{
    display: block;
    margin: 0 auto;
    background-color: green;
}
.posem{
    position: relative;
    width: 200px;
    left: 400px
}
.poswol{
   display: block;
   padding-left: 450px;
   padding-right: 200px;
}